* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#full-page {
    /* border: 1px solid black; */
    width: 100%;
    height: 930px;
}

#nav {
    /* border: 1px solid black; */
    width: 100%;
    height: 530px;
    display: flex;
}

#nav-left {
    /* border: 1px solid black; */
    width: 60%;
    height: 530px;
}

#nav-left-content {
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    height: 530px;
}

#nav-left-content>div:nth-child(1) {
    /* border: 1px solid black; */
    width: 100%;
    margin-top: 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

#nav-left-content>div:nth-child(1)>div:nth-child(1) {
    /* border: 1px solid black; */
    width: 30%;
    height: 80px;
}

#nav-left-content>div:nth-child(1)>div:nth-child(1) img {
    width: 75%;
    height: 100%;
}

#nav-left-content>div:nth-child(1)>div:nth-child(2) {
    /* border: 1px solid black; */
    width: 35%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
}

#nav-left-content>div:nth-child(1)>div:nth-child(2)>div:nth-child(1) {
    /* border: 1px solid black; */
    width: 40%;
    height: 35px;
    margin-top: 20px;
    border: none;
    outline: none;
}

#nav-left-content>div:nth-child(1)>div:nth-child(2)>div:nth-child(1) button {
    font-weight: 800;
    font-size: 15px;
    margin-top: 2px;
    border: none;
    outline: none;
    background-color: white;
}

#nav-left-content>div:nth-child(1)>div:nth-child(2)>div:nth-child(2) {
    /* border: 1px solid black; */
    width: 50%;
    height: 35px;
    margin-top: 20px;
    /* background-color: black; */
    border: none;
    outline: none;
}

#nav-left-content>div:nth-child(1)>div:nth-child(2)>div:nth-child(2) button {
    font-weight: 800;
    font-size: 15px;
    margin-top: 2px;
    border: none;
    outline: none;
    background-color: white;

}

#nav-left-content>div:nth-child(1)>div:nth-child(2)>div:nth-child(3) {
    /* border: 1px solid black; */
    width: 50%;
    height: 35px;
    margin-top: 20px;
    /* background-color: black; */
    border: none;
    outline: none;
}

#nav-left-content>div:nth-child(1)>div:nth-child(2)>div:nth-child(3) button {
    font-weight: 800;
    font-size: 15px;
    margin-top: 2px;
    border: none;
    outline: none;
    background-color: white;
}

#nav-left-content>div:nth-child(2){
    /* border: 1px solid black; */
    width: 100%;
    margin: auto;
    margin-top: 60px;
    text-align: left;
    line-height: 1.5;
}

#nav-left-content>div:nth-child(2) p{
    font-size: 20px;
    color: rgb(163,116,120);
}

#nav-left-content>div:nth-child(3){
   border: 1px solid rgb(169,171,178);
   width: 100%;
   height: 60px;
   display: flex;
   margin-top: 60px;
}

#nav-left-content > div:nth-child(3) > div:nth-child(1){
    /* border: 1px solid black; */
    width: 75%;
    height: 60px;
}

#nav-left-content > div:nth-child(3) > div:nth-child(1)  input{
    font-size: 20px;
    width: 90%;
    margin: auto;
    margin-top: 18px;
    border: none;
    outline: none;
}

#nav-left-content > div:nth-child(3) > div:nth-child(2){
    /* border: 1px solid black; */
    width: 25%;
    height: 60px;
    background-color: rgb(252,128,25);
}

#nav-left-content > div:nth-child(3) > div:nth-child(2) button{
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: rgb(252,128,25);
    color: white;
    cursor: pointer;
}

#nav-left-content > div:nth-child(4){
    /* border: 1px solid black; */
    width: 100%;
    text-align: left;
    margin-top: 40px;
    line-height: 1.5;
    color: rgb(163,116,120);
}

#nav-right {
    /* border: 1px solid black; */
    width: 40%;
    height: 530px;
}

#nav-right > div{
   /* border: 1px solid black; */
   width: 100%;
   height: 530px;
}

#nav-right > div img{
    width: 100%;
    height: 100%;
}

#content{
    /* border: 1px solid black; */
    width: 100%;
    height: 400px;
    background-color: rgb(43,30,22);
}

#content > div:nth-child(1){
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

#content > div:nth-child(1) > div:nth-child(1){
    /* border: 1px solid black; */
    width: 25%;
    height: 400px;
}

#content > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    /* border: 1px solid black; */
    width: 100%;
    height: 250px;
}


#content > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) img{
    width: 40%;
    height: 100%;   
}

#content > div:nth-child(1) > div:nth-child(1) > div:nth-child(2){
    /* border: 1px solid black; */
    width: 100%;
    height: 150px;
    line-height: 1.5;
}

#content > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) h3{
    /* border: 1px solid black; */
    margin-top: 20px;
    color: white;
}

#content > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) p{
    /* border: 1px solid black; */
    margin-top: 20px;
    color: white;
}


#content > div:nth-child(1) > div:nth-child(2){
    /* border: 1px solid black; */
    width: 25%;
    height: 400px;
}

#content > div:nth-child(1) > div:nth-child(2) > div:nth-child(1){
    /* border: 1px solid black; */
    width: 100%;
    height: 250px;
}


#content > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) img{
    width: 40%;
    height: 100%;   
}

#content > div:nth-child(1) > div:nth-child(2) > div:nth-child(2){
    /* border: 1px solid black; */
    width: 100%;
    height: 150px;
    line-height: 1.5;
}

#content > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) h3{
    /* border: 1px solid black; */
    margin-top: 20px;
    color: white;
}

#content > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) p{
    /* border: 1px solid black; */
    margin-top: 20px;
    color: white;
}

#content > div:nth-child(1) > div:nth-child(3){
    /* border: 1px solid black; */
    width: 25%;
    height: 400px;
}

#content > div:nth-child(1) > div:nth-child(3) > div:nth-child(1){
    /* border: 1px solid black; */
    width: 100%;
    height: 250px;
}

#content > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) img{
    width: 40%;
    height: 100%;   
}

#content > div:nth-child(1) > div:nth-child(3) > div:nth-child(2){
    /* border: 1px solid black; */
    width: 100%;
    height: 150px;
    line-height: 1.5;
}

#content > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) h3{
    /* border: 1px solid black; */
    margin-top: 20px;
    color: white;
}

#content > div:nth-child(1) > div:nth-child(3) > div:nth-child(2) p{
    /* border: 1px solid black; */
    margin-top: 20px;
    color: white;
}


/* Signup page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#signup-page{
    border: 1px solid black;
    width: 45%;
    position: relative;
    height: 530px;
    bottom: 133%;
    left: 27%;
    background-color: white;
    animation: swap-in 2s forwards
}

@keyframes swap-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }


#signup-page > div:nth-child(1){
    /* border: 1px solid black; */
    font-size: 30px;
    text-align: left;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

#signup-page > div:nth-child(2){
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    height: 70px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#signup-page > div:nth-child(2) > div:nth-child(1){
    /* border: 1px solid black; */
    width: 60%;
    height: 70px;
    text-align: left;
}

#signup-page > div:nth-child(2) > div:nth-child(2){
    /* border: 1px solid black; */
    width: 30%;
    height: 70px;
}

#signup-page > div:nth-child(2) > div:nth-child(2) img{
    width: 100%;
    height: 100%;
}

#signup-page > div:nth-child(3){
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    margin-top: 40px;
    height: 210px;
}

form input{
    height: 40px;
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
}

#signup-page > div:nth-child(4){
    /* border: 1px solid black; */
    text-align: left;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

/* Login-page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login-page{
    border: 1px solid black;
    width: 30%;
    height: 530px;
}

#login-page > div:nth-child(1){
    /* border: 1px solid black; */
    font-size: 30px;
    text-align: left;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

#login-page > div:nth-child(2){
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    height: 70px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#login-page > div:nth-child(2) > div:nth-child(1){
    /* border: 1px solid black; */
    width: 60%;
    height: 70px;
    text-align: left;
}

#login-page > div:nth-child(2) > div:nth-child(2){
    /* border: 1px solid black; */
    width: 30%;
    height: 70px;
}

#login-page > div:nth-child(2) > div:nth-child(2) img{
    width: 100%;
    height: 100%;
}

#login-page > div:nth-child(3){
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    margin-top: 40px;
    height: 120px;
}

form input{
    height: 40px;
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
}

#login-page > div:nth-child(4){
    /* border: 1px solid black; */
    text-align: left;
    width: 90%;
    margin: auto;
    margin-top: 10px;
}



/* showproduct page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#addproduct-fullpage{
    border: 1px solid black;
    width: 100%;
    height: 1230px;
}

#addproduct-navbar{
    /* border: 1px solid black; */
    padding-top: 1px;
    width: 100%;
    height: 80px;
}

#addproduct-nav{
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    height: 80px;
    /* margin-top: 10px; */
    color: rgb(73, 73, 77);
    display: flex;
    justify-content: space-between;
}

#addproduct-nav > div:nth-child(1){
    /* border: 1px solid black; */
    width: 40%;
    height: 80px;
    display: flex;
}

#addproduct-nav > div:nth-child(1) > div:nth-child(1){
    /* border: 1px solid black; */
    width: 15%;
    height: 80px;
}

#addproduct-nav > div:nth-child(1) > div:nth-child(1) img{
    width: 100%;
    height: 90%;
}

#addproduct-nav > div:nth-child(1) > div:nth-child(2){
    /* border: 1px solid black; */
    width: 50%;
    height: 80px;
    padding-top: 35px;
}

#addproduct-nav > div:nth-child(1) > div:nth-child(2) p{
    font-size: 13px;
    cursor: pointer;
    color: rgb(76,80,96);
}

#addproduct-nav > div:nth-child(2){
    /* border: 1px solid black; */
    width: 55%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
}

#addproduct-nav > div:nth-child(2) > div:nth-child(1){
    /* border: 1px solid black; */
    width: 15%;
    height: 35px;
    margin-top: 25px;
    display: flex;
}

#addproduct-nav > div:nth-child(2) > div:nth-child(1) i{
    /* border: 1px solid black; */
    width: 30px;
    margin-top: 8px;
    margin-left: 5px;
    border: none;
    outline: none;
    color: rgb(73, 73, 77);
}

#addproduct-nav > div:nth-child(2) > div:nth-child(1) input{
    /* border: 1px solid black; */
    height: 30px;
    width: 80%;
    font-size: 16px;
    border: none;
    color: rgb(73, 73, 77);
    outline: none;
}

#addproduct-nav > div:nth-child(2) > div:nth-child(2){
    /* border: 1px solid black; */
    width: 15%;
    height: 35px;
    margin-top: 25px;
    display: flex;
}

#addproduct-nav > div:nth-child(2) > div:nth-child(2) i{
    /* border: 1px solid black; */
    width: 30px;
    margin-top: 8px;
    margin-left: 5px;
    border: none;
    outline: none;
    color: rgb(73, 73, 77);
}

#addproduct-nav > div:nth-child(2) > div:nth-child(2) input{
    /* border: 1px solid black; */
    height: 30px;
    width: 80%;
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(73, 73, 77);
}


#addproduct-nav > div:nth-child(2) > div:nth-child(3){
    /* border: 1px solid black; */
    width: 15%;
    height: 35px;
    margin-top: 25px;
    display: flex;
}

#addproduct-nav > div:nth-child(2) > div:nth-child(3) i{
    /* border: 1px solid black; */
    width: 30px;
    margin-top: 8px;
    margin-left: 5px;
    border: none;
    outline: none;
    color: rgb(73, 73, 77);
}

#addproduct-nav > div:nth-child(2) > div:nth-child(3) input{
    /* border: 1px solid black; */
    height: 30px;
    width: 80%;
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(73, 73, 77);
}

#addproduct-nav > div:nth-child(2) > div:nth-child(4){
    /* border: 1px solid black; */
    width: 15%;
    height: 35px;
    margin-top: 25px;
    display: flex;
    cursor: pointer;
}

#addproduct-nav > div:nth-child(2) > div:nth-child(4) i{
    /* border: 1px solid black; */
    width: 30px;
    margin-top: 8px;
    margin-left: 5px;
    border: none;
    outline: none;
    color: rgb(73, 73, 77);
    cursor: pointer;
}

#addproduct-nav > div:nth-child(2) > div:nth-child(4) input{
    /* border: 1px solid black; */
    height: 30px;
    width: 80%;
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(73, 73, 77);
    cursor: pointer;
}

#addproduct-nav > div:nth-child(2) > div:nth-child(5){
    /* border: 1px solid black; */
    width: 15%;
    height: 35px;
    margin-top: 25px;
    display: flex;
}

#addproduct-nav > div:nth-child(2) > div:nth-child(5) i{
    /* border: 1px solid black; */
    width: 30px;
    margin-top: 8px;
    margin-left: 5px;
    border: none;
    outline: none;
    color: rgb(73, 73, 77);
}

#addproduct-nav > div:nth-child(2) > div:nth-child(5) input{
    /* border: 1px solid black; */
    height: 30px;
    width: 80%;
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(73, 73, 77);
}

#addproduct-nav > div:nth-child(2) > div:nth-child(6){
    /* border: 1px solid black; */
    width: 15%;
    height: 35px;
    margin-top: 25px;
    display: flex;
}

#addproduct-nav > div:nth-child(2) > div:nth-child(6) i{
    /* border: 1px solid black; */
    width: 30px;
    margin-top: 8px;
    margin-left: 5px;
    border: none;
    outline: none;
    color: rgb(73, 73, 77);
}

#addproduct-nav > div:nth-child(2) > div:nth-child(6) input{
    /* border: 1px solid black; */
    height: 30px;
    width: 80%;
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(73, 73, 77);
}

#addproduct-gallery{
    /* border: 1px solid black; */
    padding-top: 1px;
    width: 100%;
    height: 350px;
    background-color: rgb(24,27,42);
}

#addproduct-gallery > div:nth-child(1){
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    height: 300px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

#addproduct-gallery > div:nth-child(1) > div:nth-child(1){
    /* border: 1px solid black; */
    width: 23%;
    height: 300px;
}

#addproduct-gallery > div:nth-child(1) > div:nth-child(1) img{
    width: 100%;
    height: 100%;
}

#addproduct-gallery > div:nth-child(1) > div:nth-child(2){
    /* border: 1px solid black; */
    width: 23%;
    height: 300px;
}

#addproduct-gallery > div:nth-child(1) > div:nth-child(2) img{
    width: 100%;
    height: 100%;
}

#addproduct-gallery > div:nth-child(1) > div:nth-child(3){
    /* border: 1px solid black; */
    width: 23%;
    height: 300px;
}

#addproduct-gallery > div:nth-child(1) > div:nth-child(3) img{
    width: 100%;
    height: 100%;
}

#addproduct-gallery > div:nth-child(1) > div:nth-child(4){
    /* border: 1px solid black; */
    width: 23%;
    height: 300px;
}

#addproduct-gallery > div:nth-child(1) > div:nth-child(4) img{
    width: 100%;
    height: 100%;
}


/* Addproduct page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Product{
    /* border: 1px solid black; */
    width: 100%;
    background-color: white;
}

#ProductData {
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

#ProductData > div{
    border: 1px solid black;
    border-radius: 15px;
    width: 30%;
    height: 350px;
    margin-top: 20px;
}

#ProductData > div img{
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    margin-top: 30px;
    height: 200px;
    border-radius: 15px;
}

#ProductData > div p{
    margin-top: 8px;
}

#ProductData > div button{
    width: 40%;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
}


/* Cart page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Cart-fullpage{
    /* border: 1px solid black; */
    width: 100%;
    height: 625px;
}

#cart-navbar {
    /* border: 1px solid black; */
    width: 100%;
    height: 80px;
}

#cart-nav{
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

#cart-nav > div:nth-child(1){
    /* border: 1px solid black; */
    width: 40%;
    height: 80px;
    display: flex;
}

#cart-nav > div:nth-child(1) > div:nth-child(1){
    /* border: 1px solid black; */
    width: 20%;
    height: 80px;
}

#cart-nav > div:nth-child(1) > div:nth-child(1) img{
    width: 60%;
    height: 100%;
}

#cart-nav> div:nth-child(1) > div:nth-child(2) P{
    font-weight: 500;
    font-size: 18px;
    margin-top: 25px;
}

#cart-nav > div:nth-child(2){
    /* border: 1px solid black; */
    width: 20%;
    height: 80px;
    display: flex;
}

#cart-nav > div:nth-child(2) > div:nth-child(1){
    /* border: 1px solid black; */
    height: 80px;
    width: 40%;
    display: flex;
}

#cart-nav > div:nth-child(2) > div:nth-child(1) > div:nth-child(1){
    /* border: 1px solid black; */
    width: 25%;
    height: 80px;
}

#cart-nav > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) i{
    margin-top: 27px;
}

#cart-nav > div:nth-child(2) > div:nth-child(1) > div:nth-child(2){
    /* border: 1px solid black; */
    width: 30%;
    height: 80px;
}

#cart-nav > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) input{
    width: 160%;
    font-size: 18px;
    margin-top: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 5px;
}
#cart-nav > div:nth-child(2) > div:nth-child(2){
    /* border: 1px solid black; */
    height: 80px;
    width: 50%;
    display: flex;
}

#cart-nav > div:nth-child(2) > div:nth-child(2) > div:nth-child(1){
    /* border: 1px solid black; */
    width: 40%;
    height: 80px;
}

#cart-nav > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) i{
    margin-top: 27px;
    padding-left: 15px;
}

#cart-nav > div:nth-child(2) > div:nth-child(2) > div:nth-child(2){
    /* border: 1px solid black; */
    width: 30%;
    height: 80px;
}

#cart-nav > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) input{
    width: 200%;
    font-size: 18px;
    margin-top: 25px;
    border: none;
    outline: none;
}

#cart-info{
    border: 1px solid black;
    width: 100%;
    height: 500px;
}

#cart-info-content{
    border: 1px solid black;
    width: 90%;
    margin: auto;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

#cart-info-content > div{
    border: 1px solid black;
    width: 25%;
    height: 300px;

}

#cart-second{
    /* border: 1px solid black; */
    width: 100%;
    height: 625px;
    background-color: rgb(255,255,255);
}

#cart-second-content{
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    height: 625px;
}

#cart-second-content > div :nth-child(1){
    /* border: 1px solid black; */
    width: 35%;
    margin: auto;
    height: 400px;
    margin-top: 80px;
}

#cart-second-content > div :nth-child(1) img{
    width: 100%;
    height: 100%;
}

#cart-second-content > h4{
margin-top: 10px;
color: rgb(83,86,126);
} 

#cart-second-content > p{
    margin-top: 10px;
    color: rgb(147,128,170);
}

#cart-second-content > button{
    height: 30px;
    margin-top: 12px;
    width: 21%;
    background-color: rgb(252,128,25);
    color: white;
    border: none;
    outline: none;
}






